/* You can add global styles to this file, and also import other style files */
.recipe-img{
    width: 100px;
}
.recipe-list{
    align-items: center;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}